.card{
    display: flex;
    margin: 5px;
    border: 2px solid black;
    width: 900px;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.image img {
    width: 200px;
}

.text h1,p {
    padding: 2px 0;
    font-family: Roboto;
}

.image {
    position: relative;
}

.image .capsule {
    position: absolute;
    bottom: 4px;
    z-index: 10;
    right: 5px;
    background: #242020;
    opacity: 0.9;
    color: white;
    padding: 3px;
    border-radius: 3px;
    font-size: 14px;
}