.container{
    height: 70vh;
    width: 75vw;
    background-color: blue;
}
.boll{
    display: flex;
    justify-content: end;
    align-items: end;
    background-color: red;
    border: none;
    border-radius: 50%;
    height: 121px;
    width: 121px;
    
}