*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FFF2D7;

}
:root{
    --color: red;
    --hi: rgb(197, 183, 183);
    --border: 2px solid #fff;
}
.nav{
    margin: 10px;
    padding: 10px;
    /* border: 1px solid #000; */
    border: var(--border);
    border-radius: 10px;
    background-color: var(--color);
}
.contaner{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--hi);
}
ul{
    display: flex;
}
ul li{
    list-style: none;
    padding-right: 130px;
}