.contaiter{
    height: 80vh;
    width: 40vw;
    background-color: rgb(240, 221, 197);
}
.box{
    height: 100px;
    width: 100px;
    background-color: rgb(255, 145, 0);
    animation-name: Dhwoni;
    animation-duration: 1s;
    animation-delay: 0.005s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes Dhwoni {
    from{

    }
    to{
        transform: translateX(350%) translateY(350%);
    }
    /* 10%{
        transform: translateX(10%) translateY(10%);
        background-color: rgb(60, 255, 0);
        background-color: red;
    }
    25%{
        background-color: rgb(161, 96, 22);
    }
    50%{
        background-color: rgb(146, 144, 9);
    }
    75%{
        background-color: rgb(89, 122, 28);
    }
    100%{
        transform: translateX(400%) translateY(400%);
        background-color: rgb(255, 38, 0);
        background-color: rgb(0, 255, 0);
    } */
}