nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo img{
    width: 150px;
}

.right ul{
    display: flex;
    gap: 35px;
}
.right ul li{
    list-style: none;
}