@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Segoe UI";
}
body{
    background-color: #000;
}
.main{
    background-image: url(image/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px , 100vw);
    height: 80vh;
    position: relative;
}
.main .box{
    height: 80vh;
    width: 100%;
    background-color: black;
    opacity: 0.44;
    position: absolute;
    top: 0;
}
nav{
    max-width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}
nav img{
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.hero{
    height: calc(100%-60vw);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    position: relative;
    font-family: "Helvetica Neue", "Segoe UI", "Roboto", "Ubuntu", sans-serif;
    padding: 30px;
    /* gap: 23px; */
}
.firstS{
    font-size: 56px;
    font-weight: 900;
    line-height: 59px;
    font-style: normal;
    color: rgb(255,255,255);
    text-align: center;
}
.hero>:nth-child(3){
    font-family:  "Helvetica Neue", "Segoe UI", sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    line-height: 46px;
}
.hero>:nth-child(4){
    font-family:  "Helvetica Neue", "Segoe UI", sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 10px;
}
.line{
    width: 100%;
    height: 10px;
    background-color: gray;
}
